body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    height: 100vh;
    background: linear-gradient(-45deg, #141E30, #598dc9);
    color: #FFFFFF;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    transition: background 2s ease-in-out;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#chat {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    padding: 10px;
}

#messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 0.3s;
}

#inputContainer {
    display: flex;
}

#input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #2C3E50;
    color: #FFF;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.3s;
}

#input:focus {
    outline: none;
    border-color: #3498DB;
}

#map {
    height: 100%;
    width: 50%;
    display: flex;
    overflow: hidden;
}

.hline,
.vline {
    stroke: #ccc;
    stroke-width: 0.1px;
}

.legend-text {
    fill: #FFFFFF;
}

.node {
    fill: #3587A4;
    stroke: #ACE2F9;
    stroke-width: 2px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #3587A4);
}

.startNode {
    fill: #F9E358;
}

.currentNode {
    stroke: #F9E358;
}

.node text {
    font: 10px sans-serif;
    text-anchor: middle;
    visibility: hidden;
}

.link {
    stroke: #ACE2F9;
    stroke-opacity: 0.6;
    stroke-width: 2px;
    transition: stroke-width 0.3s;
}

.link:hover {
    stroke-width: 3px;
}

.tooltip {
    position: absolute;
    background-color: #ACE2F9;
    color: #1A2A73;
    padding: 10px;
    border-radius: 10px;
    pointer-events: none;
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#messages {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.message {
    animation: fadeIn 1s;
}